<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="logs/order.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>