<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="ErrorFile" fileName="logs/error.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %M - %msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <root level="error">
            <AppenderRef ref="ErrorFile"/>
        </root>
    </Loggers>
</Configuration>